Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==2.0.12
click==8.1.7
dash==2.17.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Flask==3.0.3
Flask-Compress==1.15
gunicorn==22.0.0
idna==3.7
importlib-metadata==4.11.4
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pathlib==1.0.1
plotly==5.22.0
requests==2.32.1
tenacity==8.3.0
urllib3==2.2.2
Werkzeug==3.0.3
zipp==3.20.0
